<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="email" formControlName="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="password" formControlName="password" name="password"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Bejelentkezés</button>
  </form>
</ion-content>
